h1{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: beige;
}

h1, h2, h3, p{
    font-family: helvetica;
}
#brush{
    background-color: chartreuse;
    text-align: left;
}

.item h2{
    font-size: 20px;
    color: darkgray;
}

#frame{
    background-color: darkred;
}

.item h2{
    font-size: 20px;
    color: darkgray;
}

#paint{
    background-color: darkorange;
}

.item h2{
    font-size: 20px;
    color: darkgray;
}
